@import "variables";

header {
  border: 1px solid $accent-color;
}


.main-width {
  width: $main-width;
}


.menu {
  display: flex;

  li {
    padding-left: 10px;
    list-style: none;

    &:first-child {
      color: orange;
    }

    &:last-child {
      color: green;
    }

    &:hover {
      color: red;
    }

  }

  background-color: $primary-color;
}


footer {
  .menu {
    display: flex;
    justify-content: flex-start;

    li {
      margin-right: 10px;

      &:hover {
        background-color: lightgray;
      }

      &:last-child {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}

