@mixin disabledHover {
  &:disabled {
    background-color: red;
  }
  @content
}

.button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  @include disabledHover {
    &:hover {
      background-color: darkgreen;
    }
  }
}